@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p> Nasıl Çalıştığını öğrenmek için<a href="https://github.com/PatikaDev-Logo-Net-Bootcamp/Mustafa-Gundogdu_Final_Homework">Github profilimi inceleyebilirsiniz</a>.</p>
    <p> Nasıl Çalıştığını öğrenmek için Alternatif link<a href="https://github.com/mustgndgd/Apartment_Management_System">Github profilimi inceleyebilirsiniz</a>.</p>

    </div>
