@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Fatura Güncelleme Penceresi</h1>
<form id="myForm" method="post">
    
</form>


@section Scripts {
    <script>
        $(document).ready(function () {

        });

    </script>
}