@model Apartment.App.Web.Models.InvoiceTypeModels.InvoiceTypeViewModel
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Apartment.App.Domain.Entities.IdentityEntities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Fatura Tipi Yönetim Penceresi</h1>
 
<table class="table table-striped">
    <thead>
    <tr>
        <th>Tip</th>
        <th>Birim </th>
        <th>İşlemler</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var type in Model.InvoiceTypes)
    {
        <tr>
            <td>@type.Name</td>
            <td>@type.Unit</td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("Manage", "InvoiceType",new{id=@type.Id})">Güncelle</a>
            </td>
        </tr>
    }
    </tbody>
</table>
 
<a class="btn btn-primary" href="@Url.Action("Manage", "InvoiceType")">Yeni Fatura Tipi Ekle</a>
