@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Yetkisiz Erişim";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bu sayfaya erişim yetkiniz yoktur..</p>
</header>
